# FastAPI
fastapi==0.104.1
numpy<2.0
uvicorn==0.24.0
pydantic==2.5.0
pydantic-settings==2.1.0

# Vanna
vanna==0.5.4

# ChromaDB
chromadb==0.4.22

# Database drivers
clickhouse-driver==0.2.6
psycopg2-binary==2.9.9
mysql-connector-python==8.2.0

# HTTP client
requests==2.31.0
httpx==0.25.2
openai==1.58.1

# Logging
loguru==0.7.2

# Testing
pytest==7.4.3
pytest-asyncio==0.21.1
